#header{

    $Colorr:(
        color:#FFDC00,
        color2:#FF7828,
    );
    @each $nombre,$valor in $Colorr {
        .#{$nombre}{
            background-color: $valor ;
        }
    }


    .center{
        text-align: center;
        align-items: center;
        justify-content: center;
    
    }
    .fontsize1{
        font-size: 45px;
    }
    .m-15{
        padding: 50px;
        margin-right: 630px;
        margin-top: 30px;
    }
    
}